<ul class="category-menu-list list-unstyled" style="display:none;">
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
    <li>
        <span>Transmission Network</span>
        <div class="eg">
            <a href="">OSN3500</a>
            <a href="">OSN6800</a>
        </div>
    </li>
</ul>