<%-include('./common/header.html',{title:'contact-us'}) %>
<body>
    <%-include('./common/topnav.html') %>
    <%-include('./common/mainnav.html') %>

    <%-include('./compoment/slider.html')%>

    <main class="main bg-white">
        <div class="container">
            <div class="about-block clearfix mt30">
                <p>About Thunder-link.com</p>
                Thunder-link.com is a leading Huawei optical network product supplier in china, we have rich experience and well reputation in the field over 4 years and offers to global companies like ICT, ISP, Distributors, Nework engineering, Telecom Operators ect.
                Thunder-link.com supply original new Huawei optical network equipments, offering all series Huawei OSN, Huawei OLT, Huawei Switch, Huawei SDH, Huawei WDM products with good quality and one year warranty. We are doing our utmost to provide
                first-rate service to every customer. Comparing with other suppliers, Thunder-link.com have the following outstanding points: Competitive price (better than local representative office) Fast delivery (standard lead time 3~5days) Original
                product guarantee (professional ethics) Professional technical advise (Hardware/Software compatibility) On-site engineering (engineer from Huawei global technical service dept.) Thunder-link.com International have two Huawei engineer,
                both of them from Huawei GTS(Global Technical Service) department, have rich of Huawei oversea project equipment configuration, system commissioning, and trouble shooting experience; if you meet any project difficulty, we can dispatch
                our engineers to solve your problem on-line.
            </div>
            <div class="why-buy-form-us-block clearfix mt30">
                <p>Why buy from us</p>
                <div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/images/u7769.png" alt="...">
                            <div class="caption">
                                <h3>How to buy</h3>
                                <p>We pay great effort toreinforce products quality control and create test assurance program to ensure superior quality.</p>
                                <p><a href="#" class="btn btn-link" role="button">Learn More</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/images/u7769.png" alt="...">
                            <div class="caption">
                                <h3>How to buy</h3>
                                <p>We pay great effort toreinforce products quality control and create test assurance program to ensure superior quality.</p>
                                <p><a href="#" class="btn btn-link" role="button">Learn More</a></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/images/u7769.png" alt="...">
                            <div class="caption">
                                <h3>How to buy</h3>
                                <p>We pay great effort toreinforce products quality control and create test assurance program to ensure superior quality.</p>
                                <p><a href="#" class="btn btn-link" role="button">Learn More</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/images/u7769.png" alt="...">
                            <div class="caption">
                                <h3>How to buy</h3>
                                <p>We pay great effort toreinforce products quality control and create test assurance program to ensure superior quality.</p>
                                <p><a href="#" class="btn btn-link" role="button">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="customer-service-block clearfix mt30">
                <div>
                    <div class="col-md-6">
                        <div class="col-md-1"><i class="fa fa-truck fa-2x"></i></div>
                        <div class="col-md-11">
                            <div>Delivery Information</div>
                            Enter keywords into the search box which locate at the top of any page, or browse through our list of categories on the top of any page.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-1"><i class="fa fa-truck fa-2x"></i></div>
                        <div class="col-md-11">
                            <div>Delivery Information</div>
                            Enter keywords into the search box which locate at the top of any page, or browse through our list of categories on the top of any page.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <div class="col-md-1"><i class="fa fa-truck fa-2x"></i></div>
                        <div class="col-md-11">
                            <div>Delivery Information</div>
                            Enter keywords into the search box which locate at the top of any page, or browse through our list of categories on the top of any page.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-1"><i class="fa fa-truck fa-2x"></i></div>
                        <div class="col-md-11">
                            <div>Delivery Information</div>
                            Enter keywords into the search box which locate at the top of any page, or browse through our list of categories on the top of any page.
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-us-block clearfix mt30">
                <div>
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <img src="/images/u7835.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <div>Chat live with Fiberstore</div>
                            <div>Reply Within 12 Hours</div>
                            <a class="btn btn-link">Live Messages</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <img src="/images/u7837.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <div>Email to Sales</div>
                            <div>Sales@thunder-link.com</div>
                            <a class="btn btn-link">Email Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="bottom-links">
            <div class="container">
                <div class="col-md-8">
                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>Information</li>
                            <li>About US</li>
                            <li>Contact us</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul class="list-unstyled">
                            <li>Customer Service</li>
                            <li>Delivery Information</li>
                            <li>Privacy Policy</li>
                            <li>Terms & Conditions</li>
                            <li>Returns</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights">
            Thunder-Link.com is neither a partner of nor an affiliate of Huawei Technologies, logo remain the property of the corresponding company. Copyright © 2017Thunder-Link.com. Powered by Thunder-Link
        </div>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>