<%-include('./common/header.html',{title:'contact-us'}) %>
<body>
    <%-include('./common/topnav.html') %>
    <%-include('./common/mainnav.html') %>

    <%-include('./compoment/slider.html')%>

    <main class="main bg-white">
        <div class="container">
            <div class="clearfix mt30">
               Thunder-link.com solution page can provide the most accurate problem solution for customers according to the problem customers meet.
if can not find your case here,or just need a quick technical advice . please mail to Supports@Thunder-link.com, we will come back to you in 48 hours
            </div>

            <div class="solution-tab mt30">
                <ul>
                    <li>Access</li>
                    <li>Access</li>
                    <li>Access</li>
                    <li>Access</li>
                    <li>Access</li>
                    <li>Access</li>
                </ul>
            </div>

            <div class="solution-list">
                <div class="solution-block ">
                    <div class="col-md-5">
                        <img src="/images/u8835.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="title">FTTX Leased Line Solution For Enterprise</div>
                        <div class="desc">ONU is used for SME/Enterprise branch/mobile base station accessGE/FE P2P access is used for enterpriseG.SHDSL and ADSL2+/VDSL2 bonding application is used for SME/mobile base station access..</div>
                        <div class="link"><a href="">Learn More >></a></div>
                    </div>
                </div>
                <div class="solution-block ">
                    <div class="col-md-5">
                        <img src="/images/u8835.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="title">FTTX Leased Line Solution For Enterprise</div>
                        <div class="desc">ONU is used for SME/Enterprise branch/mobile base station accessGE/FE P2P access is used for enterpriseG.SHDSL and ADSL2+/VDSL2 bonding application is used for SME/mobile base station access..</div>
                        <div class="link"><a href="">Learn More >></a></div>
                    </div>
                </div>

                <div class="solution-block ">
                    <div class="col-md-5">
                        <img src="/images/u8835.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="title">FTTX Leased Line Solution For Enterprise</div>
                        <div class="desc">ONU is used for SME/Enterprise branch/mobile base station accessGE/FE P2P access is used for enterpriseG.SHDSL and ADSL2+/VDSL2 bonding application is used for SME/mobile base station access..</div>
                        <div class="link"><a href="">Learn More >></a></div>
                    </div>
                </div>

                <div class="solution-block ">
                    <div class="col-md-5">
                        <img src="/images/u8835.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="title">FTTX Leased Line Solution For Enterprise</div>
                        <div class="desc">ONU is used for SME/Enterprise branch/mobile base station accessGE/FE P2P access is used for enterpriseG.SHDSL and ADSL2+/VDSL2 bonding application is used for SME/mobile base station access..</div>
                        <div class="link"><a href="">Learn More >></a></div>
                    </div>
                </div>

                <div class="solution-block ">
                    <div class="col-md-5">
                        <img src="/images/u8835.png" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="title">FTTX Leased Line Solution For Enterprise</div>
                        <div class="desc">ONU is used for SME/Enterprise branch/mobile base station accessGE/FE P2P access is used for enterpriseG.SHDSL and ADSL2+/VDSL2 bonding application is used for SME/mobile base station access..</div>
                        <div class="link"><a href="">Learn More >></a></div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    
    <%-include('./common/footer.html')%>
</body>

</html>