.packages {
    overflow: hidden;
}

.packages .eg {
    width: 33%;
    display: inline-block;
}

.eg-block {
    background-color: #eee;
    overflow: hidden;
    margin: 3px -13px;
    display: block;
    word-break: break-all;
    word-wrap:break-word;
}

.eg-block.actived {
    border: 1px #3ec392 solid;
    margin: 2px -12px;
}

.packages .thumbnail {
    border-radius: 0;
    border: 0;
    border-right: 1px #ddd solid;
}

.packages .thumbnail:last-child {
    border: 0;
}

.packages .progress {
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.packages .progress-bar {
    background-color: #3ec392;
}

.packages .structure {
    text-align: center
}

.packages .structure img {
    max-width: 100%;
}

.config-self {
    width: 270px;
    padding: 10px 0;
}

.packages .btn-o-success {
    width: 160px;
    padding: 10px 0;
}

.packages-setting .thumbnail {
    border-radius: 0;
    border: 0;
    border-right: 1px #ddd solid;
    background-color: #e4e4e4;
}

.packages-setting .progress {
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.packages-setting .progress-bar {
    background-color: #3ec392;
}

.packages-setting .structure {
    text-align: center
}

.packages-setting .structure img {
    max-width: 100%;
}

.config-self {
    width: 270px;
    padding: 10px 0;
}

.packages-setting .btn-o-success {
    width: 160px;
    padding: 10px 0;
}

.tab-menu li.actived{
    background: #fff;
}


.emptys{
    color:#ccc;
    text-align: center;
    line-height: 60px;
}