.solution-nav {
    border-bottom: 2px #eee solid;
    margin: 10px -15px;
}

.solution-nav ul {
    margin: 0;
    padding: 0;
}

.solution-nav li {
    display: inline-block;
    font-size: 20px;
}

.solution-nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 45px;
}

.solution-nav li a:hover {
    border-bottom: 2px #00cc94 solid;
    margin-bottom: -2px;
}

.solution-content {
    margin: 10px -14px 0 -34px;
}

.solution {
    overflow: hidden;
    border: 1px #ddd solid;
    padding: 10px;
    float: left;
    width: 574px;
    margin-left: 20px;
    height: 160px;
    margin-bottom: 10px;
}

.solution .s-img {
    float: left;
}

.solution .s-content {
    margin-left: 210px;
}

.solution .s-content h4 {
    margin: 0 0 10px 0;
}

.solution-content-article .article-header{
    margin: 40px 0 20px;
}

.solution-content-article .article-header h1{
    font-size: 24px;
    text-align: center;
}

.solution-content-article .article-body img{
    max-width: 100%;
}