/* latin-ext */

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/** {
    transition: all .2s ease-in-out;
}*/

.animate *{
    transition: all .2s ease-in-out
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    letter-spacing: 1.1px;
    line-height: 1.6;
}

a {
    color: #333;
}

.btn {
    border-radius: 0;
}

.mt30 {
    margin-bottom: 30px;
}

.bg-white {
    background-color: #fff !important;
}

.clearfix::after {
    overflow: hidden;
}

.navbar {
    min-height: 40px;
    height: 40px;
    background-color: #40404c;
}

.navbar-inverse {
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 0 10px;
}

.top-nav {
    padding: 8px 0;
    color: #fff;
}

.top-nav a {
    color: #fff;
}

.main-search-bar {
    margin: 10px 0;
}

.mainlogo img {
    width: 80%;
}

.main-nav {
    margin-top: 25px;
    border-bottom: 1px #3ec392 solid;
}

.main-nav-bar li {
    display: inline-block;
    height: 50px;
}

.main-nav-bar li a {
    height: 50px;
    font-size: 20px;
    padding: 10px 25px;
}

.main-nav-container {
    float: left;
    margin-left: 100px;
}

.category-meun {
    width: 220px;
    height: 50px;
    position: relative;
    margin-left: -15px;
    float: left;
}

.categroy-btn {
    background-color: #3ec392;
    display: block;
    font-size: 22px;
    padding: 0 10px;
    text-align: center;
    padding: 8px 0;
    color: #fff;
}

.categroy-btn:hover {
    color: #fff;
    text-decoration: none;
}

.category-menu-list {
    position: absolute;
    width: 100%;
    background: rgba(232, 233, 235, 0.8);
}

.category-menu-list>li {
    padding: 10px;
}

.page-jumborm {
    overflow: hidden;
}

.page-jumborm img {
    max-width: 100%;
}

.main {
    background-color: #eee;
    min-height: 500px;
    padding: 15px 0;
}

.promotion-block {
    height: 240px !important;
}

.prod-block {
    background-color: #fff;
    text-align: center;
    height: 280px;
}

.prod-block::after {
    clear: both;
    content: '';
    display: block;
}

.prod-block h2 {
    font-weight: normal;
    text-align: center;
}

.prod-block .nav-tabs {
    border-bottom: 0 none;
}

.prod-block .nav-tabs li {
    margin-left: -2px;
}

.prod-block .nav-tabs>li.active>a,
.prod-block .nav-tabs>li.active>a:focus,
.prod-block .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: rgba(61, 195, 145, 1);
    border: 0 none;
    border-bottom-color: transparent;
}

.prod-block .nav-tabs>li>a,
.prod-block .nav-tabs>li>a:focus,
.prod-block .nav-tabs>li>a:hover {
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}


.prod-block .nav-tabs>li>a:hover {
    border: 1px #34bd8a solid;
    padding:14px 0px;
}

.prod-block .nav-tabs>li.active>a:hover {
    padding:15px 0px;
}

.document-block {
    border: 1px #ccc solid;
    background: url('/image/u608_state0.jpg');
}

.misrv-block {
    background-color: #ddd;
}

.footer {
    background-color: #343643;
    min-height: 300px;
    color: #fff;
}

.footer a {
    color: #fff;
}

.bottom-helper {
    background-color: #fff;
}

.help-block .header {
    border-bottom: 1px #ccc solid;
    overflow: hidden;
    padding: 10px 0;
}

.help-block .header strong {
    font-size: 24px;
    font-weight: normal;
    float: left;
}

.help-block .header .more {
    float: right;
    margin: 12px 0 0;
    font-size: 14px;
    color: #ccc;
}

.help-block .body {
    padding: 20px 10px;
}

.bottom-links {
    color: #fff;
    padding: 20px 0;
}

.support {
    background-color: #fff;
}

.support section {
    border-bottom: 1px #ddd solid;
    padding: 20px 0;
}

.support section>.title {
    font-size: 20px;
    padding: 10px 0;
}

.support-search {
    margin: 10px 0;
}

.support-search-hot-tag {
    line-height: 200%;
}

.support-document-block {
    background-color: #eee;
    padding: 20px 10px;
}

.support-right {
    background-color: #eee;
}

.support-right-block {
    padding: 10px;
}

.support-right-block:not(:last-child) {
    border-bottom: 1px #396 solid;
}

.support-right-block .title {
    font-size: 20px;
}

.doc-list-content {
    overflow: hidden;
}

.doc-list {
    background-color: #eee;
    margin-bottom: 10px;
}

.doc-list::after {
    content: "";
    display: block;
    clear: both;
}

.doc-list .title {
    font-size: 20px;
    margin: 15px 0 0;
}

.doc-list .desc {
    margin: 10px 0 10px;
}

.doc-list .info {
    color: #396;
}

.doc-list .info span {
    margin: 0 5px;
}

.configure {
    background-color: #fff;
}

.eg-block {
    background-color: #eee;
}

.eg-block img {
}

.setting-content {
    border: 1px #ddd solid;
    padding: 0;
}

.tab-menu {
    padding: 0;
}

.tab-menu ul {
    list-style: none;
    background-color: #ddd;
    padding: 0;
    margin: 0;
}

.tab-menu ul li {
    padding: 15px;
}

.tab-menu ul li:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.tab-content ul {
    list-style: none;
    padding: 0;
}

.tab-content ul li {
    padding: 5px 0;
    overflow: hidden;
}

.tab-content ul li:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.solution-tab {
    border-bottom: 2px #eee solid;
}

.solution-tab ul {
    margin: 0;
    padding: 0;
}

.solution-tab ul li {
    display: inline-block;
    padding: 15px;
    min-width: 120px;
    text-align: center;
    font-size: 22px;
}

.solution-block {
    border: 1px #ddd solid;
    padding: 5px;
    margin: 1% 1%;
    width: 48%;
    overflow: hidden;
    float: left;
}

.slick-container {
    overflow: hidden;
}

.nav-tabs>li>a {
    border-radius: 0;
}

.input-lg {
    border-radius: 0;
}

.btn-success {
    color: #fff;
    background-color: #3ec492;
    border-color: #3fc392;
}

.btn-success:hover {
    background-color: #3bb18f;
    border-color: #34bd8a;
}

.btn-o-success {
    border: 1px #3ec492 solid;
    background-color: #fff;
    color: #3bb18f
}

.btn-o-success:hover {
    border: 1px #3ec492 solid;
    background-color: #3ec492;
    color: #fff
}

.btn-o-success.actived{
    border: 1px #3ec492 solid;
    background-color: #3ec492;
    color: #fff
}

.thunder-link-class .breadcrumb {
    background-color: #fff;
    font-size: 14px;
    margin: 20px 0 0;
}

.thunder-link-class .breadcrumb>li+li::before {
    content: ">";
}

.login .panel-ghost {
    border: 1px #ddd solid;
    border-radius: 0;
    height: 460px;
}

.sign .panel-ghost {
    border: 1px #ddd solid;
    border-radius: 0;
    height: 688px;
}

.panel-ghost .panel-heading {
    background: #fff;
}

.login .panel-ghost,
.sign .panel-ghost {
    padding: 0 40px;
}

.login .panel-heading h3,
.sign .panel-heading h3 {
    border-bottom: 1px #ddd solid;
    font-size: 30px;
    line-height: 200%;
}

.login .panel-ghost .btn {
    padding: 6px 40px;
}

.login .login-by-3td-way {
    margin-top: 60px;
}

.sub-category {
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    z-index: 10;
    min-height: 450px;
}

.sub-category ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.sub-category>ul>li {
    margin: 10px 0;
    position: relative;
}

.sub-category a {
    color: #3bb18f;
}

.sub-category .f-cate {
    font-size: 16px;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}

.sub-category i {
    position: absolute;
    right: 0;
    top: 20%;
    color: #3bb18f;
}

.left-sub-category {
    background: #fff;
    width: 1000px;
    position: absolute;
    left: 220px;
    height: 100%;
    z-index: 10;
    top: 0;
    border: 1px solid #eee;
}

.sub-category .solution-list {
    overflow: hidden;
}

.sub-category .solution-list ul {
    margin: 0;
    padding: 10px 0;
}

.sub-category .solution-list a {
    color: #666;
    font-size: 16px;
    padding:5px 10px;
    background-color: #ccc;
    display: block;
    margin: 5px -10px;
}


.th-tabs {
    margin: 0 -30px 0 0;
}

.th-tabs li{
    padding:0;
}

.th-tabs li a{
    padding:15px 0;
}

.prod-block .tab-content {
    margin: 0 -15px;
    padding-top:10px;
}

.pre-text{
    font-size: 16px;
}


.animate-1:hover{
    transform: translateY(-5px);
}

.document-search-block{
    border:1px #939393 solid;
    padding:10px;
    height: 150px;
}

.document-search-block .input-group-addon{
    padding:0;
    border:0;
}

.document-ads-block{
    border:1px #939393 solid;
    border-left:0;
    padding:10px;
    height: 150px;
}

.document-slik-block{
    border:1px #939393 solid;
    border-left:0;
    margin-top: -1px;
    padding:10px;
}

.common-home .owl-carousel{
    margin:0;
    background: none;
    direction: ltr !important;
    z-index: 1;
}

.common-home .owl-pagination{
    top:0;
}

.common-home .owl-wrapper-outer{
    border:0;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.common-home .promotion-block .col-md-10{
    padding:10px 0;
}


.btn-cart-o {
    border: 0;
    background: none;
    font-size: 40px;
    margin: -12px;
    position: relative;
    text-decoration: none !important;
}

#cart-total{
    background: #f00;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 4px;
    right: -9px;
    line-height: 23px;
    text-align: center;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #3ec392;
    border-color: #3ec392;
}

.category-sort{
    border-bottom: 1px #ddd solid;
    padding:5px 0;
}

.product-list .image{
   float: left;
}

.product-list .desc{
    margin-left: 260px;
    padding:10px;
}

.dropdown-inline {
    display: inline-block;
    padding: 5px;
}

.dropdown-inline>a{
    display: block;
}

.dropdown-inline .menu{
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    background: #fff;
    border:1px #ddd solid;
    padding:5px;
    min-width: 100px;
}


.image-items.actived{
    border:1px #34bd8a solid;
}

.buyer-guide{
    padding: 5px 0;
    font-size:16px;
}

.product-right{
    
}

.buyer-guide i.fa{
    color:#396;
    margin-right: 10px;
    text-align: center;
    font-size:20px;
    display: inline-block;
    width:40px;
}

.category-tabs li{
    border-top:2px #ccc solid;
    background: #f1f1f1;
    border-right: 1px #ddd solid;
    border-left:1px #ddd solid;
    margin-top: 1px;
}

.category-tabs li.active{
    border-top:2px #396 solid;
    background: #f1f1f1;
    border-right: 0 none;
    border-bottom:0;
    background: #fff;
}

.category-tabs li:last-child.active{
    border-top:2px #396 solid;
    background: #f1f1f1;
    border-right: 1px #ddd solid;
    border-bottom:0;
    background: #fff;
}

.category-tabs.nav-tabs>li.active>a, .category-tabs.nav-tabs>li.active>a:focus, .category-tabs.nav-tabs>li.active>a:hover {
    border:0 none;
    margin-right:0;
}

div.input{
    border:1px #ddd solid;
    width:100px;
    overflow: hidden;
}

div.input>input{
    float: left;
    border:0 none;
    width: 82px;
}

div.input>.buttons{
    float: left;
    width: 15px;
    height: 35px;
    margin-top: -6px;
}

div.input>.buttons>button{
    border: 0 none;
    background: none;
    height: 15px;
    padding:0;
    margin:0;
}