/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    transition: all .2s ease-in-out;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.mt30{
    margin-bottom: 30px;
}

.bg-white{
    background-color:#fff !important;
}

.clearfix::after{
    overflow: hidden;
}

.navbar {
    min-height: 40px;
    height: 40px;
    background-color: #40404c;
}

.navbar-inverse {
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding:0 10px;
}

.top-nav {
    padding:8px 0;
}

.main-search-bar{
    margin: 10px;
}

.mainlogo img{
    width:80%;
}

.main-nav {
    margin-top:25px;
    border-bottom: 1px #3ec392 solid;
}

.main-nav-bar li{
    display: inline-block;
    height: 50px;
}

.main-nav-bar li a{
    height: 50px;
    font-size: 20px;
    padding: 10px 25px;
}


.category-meun{
    width:220px;
    height: 50px;
    position: relative;
}

.categroy-btn {
    background-color:#3ec392;
    display: block;
    font-size: 22px;
    padding:0 10px;
    text-align: center;
    padding:10px 0 ;
}

.category-menu-list{
    position: absolute;
    width:100%;
    background: rgba(232, 233, 235, 0.8);
}

.category-menu-list >li{
    padding:10px;
}

.page-jumborm{
    overflow: hidden;
}

.page-jumborm img{
    max-width: 100%;
}

.main {
    background-color:#eee;
    min-height: 500px;
    padding:15px 0;
}

.prod-block {
    background-color:#fff;
}

.prod-block::after{
    clear: both;
    content:'';
    display: block;
}


.document-block {
    border:1px #ccc solid;
    background: url('../images/u608_state0.jpg');
}

.misrv-block {
    background-color:#ddd;
}


.footer{
     background-color: #343643;
     min-height: 300px;
}

.bottom-helper{
    background-color:#fff;
}

.help-block .header{
    border-bottom:1px #ccc solid;
    overflow: hidden;
    padding:10px 0;
}

.help-block .header strong{
    font-size: 24px;
    font-weight: normal;
    float:left;
}

.help-block .header .more{
    float: right;
    margin: 12px 0 0;
    font-size: 14px;
    color:#ccc;
}

.help-block .body{
    padding:20px 10px;
}

.bottom-links {
   color:#fff;
   padding:20px 0;
}

.support{
    background-color:#fff;
}

.support section{
    border-bottom:1px #ddd solid;
    padding:20px 0;
}

.support section >.title{
    font-size: 20px;
    padding:10px 0;
}

.support-search {
    margin: 10px 0;
}

.support-search-hot-tag {
    line-height: 200%;
}

.support-document-block{
    background-color:#eee;
    padding:20px 10px;
}

.support-right {
    background-color: #eee;
}


.support-right-block{
    padding:10px;
}

.support-right-block:not(:last-child){
    border-bottom:1px #396 solid;
}

.support-right-block .title{
    font-size: 20px;
}

.doc-list-content {
    overflow: hidden;
}

.doc-list{
    background-color: #eee;
    margin-bottom: 10px;
}

.doc-list::after{
    content:"";
    display:block;
    clear: both;
}

.doc-list .title{
    font-size: 20px;
    margin:15px 0 0;
}

.doc-list .desc{
    margin:10px 0 10px; 
}

.doc-list .info{
    color:#396;
}

.doc-list .info span{
    margin: 0 5px;
}


.configure {
    background-color: #fff;
}

.eg-block{
    background-color:#eee;
}

.eg-block img{
    width:100%;
}

.setting-content {
    border:1px #ddd solid;
    padding:0;
}

.tab-menu {
    padding:0;
}

.tab-menu ul{
    list-style:none;
    background-color:#ddd;
    padding:0;
    margin:0;
}

.tab-menu ul li {
    padding:15px;
}

.tab-menu ul li:not(:last-child){
    border-bottom:1px #ccc solid;
}

.tab-content{
    padding:0;
}

.tab-content ul{
    list-style: none;
    padding:0;
}

.tab-content ul li {
    padding:5px 0;
    overflow: hidden;
}

.tab-content ul li:not(:last-child) {
    border-bottom:1px #ccc solid;
}

.solution-tab {
    border-bottom:2px #eee solid;
}

.solution-tab ul{
    margin: 0;
    padding:0;
}

.solution-tab ul li{
    display: inline-block;
    padding:15px;
    min-width:120px;
    text-align: center;
    font-size: 22px;
}

.solution-block {
    border:1px #ddd solid;
    padding:5px;
    margin: 1% 1%;
    width:48%;
    overflow: hidden;
    float:left;
}