<footer class="footer">
    <div class="bottom-helper">
        <div class="container">
            <div class="col-md-4">
                <div class="help-block">
                    <div class="header">
                        <strong>Support</strong>
                        <a href="" class="more">View More »</a>
                    </div>
                    <div class="body">
                        Data Center Solutions Thunder-link.com offers a variety of integrated holistic physical infrastructure solutions ...
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="help-block">
                    <div class="header">
                        <strong>Solution</strong>
                        <a href="" class="more">View More »</a>
                    </div>
                    <div class="body">
                        Data Center Solutions Thunder-link.com offers a variety of integrated holistic physical infrastructure solutions ...
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="help-block">
                    <div class="header">
                        <strong>Documents</strong>
                        <a href="" class="more">View More »</a>
                    </div>
                    <div class="body">
                        Data Center Solutions Thunder-link.com offers a variety of integrated holistic physical infrastructure solutions ...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-links">
        <div class="container">
            <div class="col-md-8">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Information</li>
                        <li>About US</li>
                        <li>Contact us</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Customer Service</li>
                        <li>Delivery Information</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Conditions</li>
                        <li>Returns</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        Thunder-Link.com is neither a partner of nor an affiliate of Huawei Technologies, logo remain the property of the corresponding company. Copyright © 2017Thunder-Link.com. Powered by Thunder-Link
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>